
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  gap:8px
}

.sort-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sort-btn {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.3s ease;
}

.sort-btn:hover {
  background-color: #555;
}

.sort-btn:active {
  background-color: #111;
}

.product-image {
  aspect-ratio: 1 / 1;
  height: auto;
  width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .button-container {
    flex-direction: row;
  }
}
